<div ng-controller="contactController">
    <span us-spinner="{radius:15, width:4, length: 8}"></span>
    <div>
        <div id="pageHeaderContent">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="fill-main" style="background-image:url({{categoryPost.imageBanner}});"></div>
                        <div class="carousel-caption page-caption">
                            <div style="display:table-row;">
                                <div class="page-caption-panel">
                                    <h1 class="pageTitle">{{categoryPost.title}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb" data-bind="foreach: Breadcrumb">
                            <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                            <li><a href="/lien-he" title="Liên hệ">Liên hệ</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section mainsection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="ctl00_PlaceHolderMain_ctl03__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline">
                        <div class="col-md-12">
                            <h2 style="font-weight:bold; font-size: 1.2em; text-transform:uppercase; font-family:frutigernextpro;color:#333333;padding-right:75px;">&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;Thông tin liên hệ</h2><p>
                                Tên công ty: <b>{{infoCompany.name}}</b><br />
                                Địa chỉ: {{infoCompany.address}}<br />
                                Điện thoại: {{infoCompany.tel}}<br />
                                Mã số thuế: {{infoCompany.mst}}<br />
                                Email: <a href="mailto:{{infoCompany.email}}">{{infoCompany.email}}</a>
                                <span style="line-height:1.4;">&#8203;&#8203;</span>
                        </div>
                        @*<div class="col-md-6">
                            <h2 style="font-weight:bold; font-size: 1.2em; text-transform:uppercase;font-family:frutigernextpro;color:#333333;padding-right:75px;">&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;Liên hệ với chúng tôi</h2><p>
                                <div class="form_element">
                                    <div class="form-group">
                                        <label>Họ và tên<font color="red">*</font></label>
                                        <input class="form-control" type="text" ng-model="feadback.name">
                                    </div>
                                    <div class="form-group">
                                        <label>Email<font color="red">*</font></label>
                                        <input class="form-control" type="text" ng-model="feadback.email">
                                    </div>
                                </div>

                                <div class="form_submit">
                                    <input type="submit" name="ctl00$cprContent$C018$ctl00$ctl00$btnSubmit" value="Submit >" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cprContent$C018$ctl00$ctl00$btnSubmit&quot;, &quot;&quot;, true, &quot;vlg_Contact_C018&quot;, &quot;&quot;, false, false))" id="cprContent_C018_ctl00_ctl00_btnSubmit" class="register">
                                </div>

                        </div>*@

                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.3120690551377!2d106.82891829919923!3d20.9399792912038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a6168c15ee887%3A0xf41be68a01edb90!2zQuG7h25oIHZp4buHbiDEkWEga2hvYSBUaOG7iyB4w6MgUXXhuqNuZyBZw6pu!5e0!3m2!1svi!2s!4v1491335743286" width="1050" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>