@{
    ViewBag.Title = "Trang chủ";
}

<div class="art-content-layout" ng-controller="homeController">
    <div class="art-content-layout-row">
        <div class="art-layout-cell art-content clearfix">
            <!-- begin nostyle -->
            <div class="art-nostyle">
                <!-- begin nostyle content -->
                <div class="allmode_box allmode-portal ">
                    <span us-spinner="{radius:15, width:4, length: 8}"></span>
                    <h3 class="allmode_name"><span>TIN TỨC - SỰ KIỆN</span></h3>
                    <div class="allmode_topbox" ng-show="index == 0" ng-repeat="(index, value) in tinTucs">
                        <div class="allmode_img">
                            <a href="/bai-viet/{{value.alias}}-{{value.id}}">
                                <img ng-src="{{value.image}}" width="340" height="200" alt="">
                            </a>
                        </div>

                        <div class="allmode_topitem">
                            <h3 class="allmode_title">
                                <a href="/bai-viet/{{value.alias}}-{{value.id}}">{{value.title}}</a>
                            </h3>

                            <div class="allmode_details">
                                <span class="allmode_date">{{value.timePublished | date:"dd'-'MM'-'yyyy"}}</span>
                            </div>

                            <div class="allmode_text">
                                {{value.description}}
                            </div>

                        </div>
                        <div class="allmode_clear"></div>
                    </div>

                    <div id="allmode208" class="allmode_itemsbox">
                        <ul class="allmode_items">
                            <li class="allmode_item" style="display: list-item;" ng-show="index > 0" ng-repeat="(index, value) in tinTucs">
                                <div class="allmode_img">
                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}"><img ng-src="{{value.image}}" width="100" height="65" alt="{{value.title}}"></a>
                                </div>

                                <div class="allmode_right">
                                    <h4 class="allmode_title">
                                        <a href="/bai-viet/{{value.alias}}-{{value.id}}">{{value.title}}</a>
                                    </h4>

                                    <div class="allmode_details">
                                        <span class="allmode_date">{{value.timePublished | date:"dd'-'MM'-'yyyy"}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- end nostyle content -->
            </div>
            <!-- end nostyle -->
            <!-- begin nostyle -->
            <div class="art-nostyle">
                <!-- begin nostyle content -->
                <div id="yt-mega-news_156" class="yt_mega_news">
                    <div class="intro_text" style="width:705px"></div>
                    <div id="ytc_tabs156" class="theme3">
                        <div style="max-width: 705px; width: 705px; float:left; margin-bottom: 20px">
                            <div class="content_box" style="max-width: 705px; width: 705px; ">
                                <div class="tabs">
                                    <div class="category_title_left">&nbsp;</div>
                                    <div class="category_title_center">
                                        <div class="category_name">
                                            <a href="/danh-muc-bai-viet/hoat-dong-cua-trung-tam-15" target="_self">
                                                HOẠT ĐỘNG TRUNG TÂM
                                            </a>
                                        </div>
                                    </div>
                                    <div class="category_title_right">&nbsp;&nbsp;&nbsp; </div>
                                </div> <!--end tabs-->
                                <div class="box-wrapper">
                                    <span us-spinner="{radius:15, width:4, length: 8}"></span>
                                    <div class="content-box current" style="max-width: 695px; width: 695px; ">
                                        <p ng-hide="hoatDongTTs.length > 0" style="text-align:center; font-size:2em !important; color:#f44336">Đang cập nhật</p>
                                        <div class="inner_content" style="max-width: 705px; width: 705px; overflow: hidden " ng-show="hoatDongTTs.length > 0">

                                            <div class="normal-content">
                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index <= 1" ng-repeat="(index, value) in hoatDongTTs">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.image}}" width="100px" height="100px">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>
                                            <div class="normal-content" style="max-width:705 px; width: 705px; ">

                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index > 1 && index <= 3" ng-repeat="(index, value) in hoatDongTTs">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.image}}" width="100px;" height="100px;">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>

                                        </div>  <!--end inner-content-->

                                        <div class="link_category" ng-show="hoatDongTTs.length > 0">
                                            <div class="arrow1"> &nbsp;</div>
                                            <a href="/danh-muc-bai-viet/hoat-dong-cua-trung-tam-15" target="_self">
                                                Xem thêm bài khác
                                            </a>

                                        </div>


                                    </div> <!--end content-box-->
                                </div> <!-- END Box Wrapper -->
                            </div> <!--end box-->
                        </div>


                    </div><!--end theme3-->

                    <div class="footer_text" style="width:705px"></div>
                </div>
                <!-- end nostyle content -->
            </div>
            <!-- end nostyle -->
            <!-- begin nostyle -->
            <div class="art-nostyle">
                <!-- begin nostyle content -->
                <div id="yt-mega-news_167" class="yt_mega_news">
                    <div class="intro_text" style="width:705px"></div>
                    <div id="ytc_tabs167" class="theme3">
                        <div style="max-width: 705px; width: 705px; float:left; margin-bottom: 20px">
                            <div class="content_box" style="max-width: 705px; width: 705px; ">
                                <div class="tabs">
                                    <div class="category_title_left">&nbsp;</div>
                                    <div class="category_title_center">
                                        <div class="category_name">
                                            <a href="/danh-muc-bai-viet/hoat-dong-cua-doan-thanh-nien-16" target="_self">
                                                HOẠT ĐỘNG ĐOÀN THANH NIÊN
                                            </a>
                                        </div>
                                    </div>
                                    <div class="category_title_right">&nbsp;&nbsp;&nbsp; </div>
                                </div> <!--end tabs-->
                                <div class="box-wrapper">
                                    <span us-spinner="{radius:15, width:4, length: 8}"></span>
                                    <div class="content-box current" style="max-width: 695px; width: 695px; ">
                                        <p ng-hide="hoatDongDoanThanhNien.length > 0" style="text-align:center; font-size:2em !important; color:#f44336">Đang cập nhật</p>
                                        <div class="inner_content" style="max-width: 705px; width: 705px; overflow: hidden " ng-show="hoatDongTTs.length > 0">

                                            <div class="normal-content">
                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index <= 1" ng-repeat="(index, value) in hoatDongDoanThanhNien">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.image}}" width=" 100px;" height=" 100px;">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>
                                            <div class="normal-content" style="max-width:705 px; width: 705px; ">

                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index > 1 && index <= 3" ng-repeat="(index, value) in c">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.image}}" width=" 100px;" height=" 100px;">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>

                                        </div>  <!--end inner-content-->

                                        <div class="link_category" ng-show="hoatDongDoanThanhNien.length > 0">
                                            <div class="arrow1"> &nbsp;</div>
                                            <a href="/danh-muc-bai-viet/hoat-dong-cua-doan-thanh-nien-16" target="_self">
                                                Xem thêm bài khác
                                            </a>

                                        </div>


                                    </div> <!--end content-box-->
                                </div> <!-- END Box Wrapper -->
                            </div> <!--end box-->
                        </div>


                    </div><!--end theme3-->

                    <div class="footer_text" style="width:705px"></div>
                </div>
                <!-- end nostyle content -->
            </div>
            <!-- end nostyle -->
            <!-- begin nostyle -->
            <div class="art-nostyle">
                <!-- begin nostyle content -->
                <div id="yt-mega-news_197" class="yt_mega_news">
                    <div class="intro_text" style="width:705px"></div>
                    <div id="ytc_tabs197" class="theme3">
                        <div style="max-width: 705px; width: 705px; float:left; margin-bottom: 20px">
                            <div class="content_box" style="max-width: 705px; width: 705px; ">
                                <div class="tabs">
                                    <div class="category_title_left">&nbsp;</div>
                                    <div class="category_title_center">
                                        <div class="category_name">
                                            <a href="/danh-muc-bai-viet/tin-tuc-nganh-y-18" target="_self">
                                                TIN TỨC NGÀNH Y
                                            </a>
                                        </div>
                                    </div>
                                    <div class="category_title_right">&nbsp;&nbsp;&nbsp; </div>
                                </div> <!--end tabs-->
                                <div class="box-wrapper">
                                    <span us-spinner="{radius:15, width:4, length: 8}"></span>
                                    <div class="content-box current" style="max-width: 695px; width: 695px; ">
                                        <p ng-hide="tinTucNganhYs.length > 0" style="text-align:center; font-size:2em !important; color:#f44336">Đang cập nhật</p>
                                        <div class="inner_content" style="max-width: 705px; width: 705px; overflow: hidden " ng-show="tinTucNganhYs.length > 0">

                                            <div class="normal-content">
                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index <= 1" ng-repeat="(index, value) in tinTucNganhYs">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.image}}" width="100px" height="100px">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>
                                            <div class="normal-content" style="max-width:705 px; width: 705px; ">

                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index > 1 && index <= 3" ng-repeat="(index, value) in tinTucNganhYs">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.title}}" width=" 100px;" height=" 100px;">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>

                                        </div>  <!--end inner-content-->

                                        <div class="link_category" ng-show="tinTucNganhYs.length > 0">
                                            <div class="arrow1"> &nbsp;</div>
                                            <a href="/danh-muc-bai-viet/tin-tuc-nganh-y-18" target="_self">
                                                Xem thêm bài khác
                                            </a>

                                        </div>


                                    </div> <!--end content-box-->
                                </div> <!-- END Box Wrapper -->
                            </div> <!--end box-->
                        </div>


                    </div><!--end theme3-->

                    <div class="footer_text" style="width:705px"></div>
                </div>
                <!-- end nostyle content -->
            </div>
            <!-- end nostyle -->
            <!-- begin nostyle -->
            <div class="art-nostyle">
                <!-- begin nostyle content -->
                <div id="yt-mega-news_178" class="yt_mega_news">
                    <div class="intro_text" style="width:705px"></div>
                    <div id="ytc_tabs178" class="theme3">
                        <div style="max-width: 705px; width: 705px; float:left; margin-bottom: 20px">
                            <div class="content_box" style="max-width: 705px; width: 705px; ">
                                <div class="tabs">
                                    <div class="category_title_left">&nbsp;</div>
                                    <div class="category_title_center">
                                        <div class="category_name">
                                            <a href="/danh-muc-bai-viet/giao-duc-suc-khoe-17" target="_self">
                                                Giáo dục sức khỏe
                                            </a>
                                        </div>
                                    </div>
                                    <div class="category_title_right">&nbsp;&nbsp;&nbsp; </div>
                                </div> <!--end tabs-->
                                <div class="box-wrapper">
                                    <span us-spinner="{radius:15, width:4, length: 8}"></span>
                                    <div class="content-box current" style="max-width: 695px; width: 695px; ">
                                        <p ng-hide="giaoDucSucKhoes.length > 0" style="text-align:center; font-size:2em !important; color:#f44336">Đang cập nhật</p>
                                        <div class="inner_content" style="max-width: 705px; width: 705px; overflow: hidden " ng-show="giaoDucSucKhoes.length > 0">

                                            <div class="normal-content">
                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index <= 1" ng-repeat="(index, value) in giaoDucSucKhoes">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.image}}" alt="{{value.title}}" width=" 100px;" height=" 100px;">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>
                                            <div class="normal-content" style="max-width:705 px; width: 705px; ">

                                                <div class="content" style="max-width: 342.5px; width: 342.5px;" ng-show="index > 1 && index <= 3" ng-repeat="(index, value) in giaoDucSucKhoes">
                                                    <div class="article" style="overflow: hidden; margin-right: 10px; max-width: 332.5px; width: 332.5px;">
                                                        <div class="article_title">
                                                            <a style="color:#145cae;" href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                {{value.title}}
                                                            </a>
                                                        </div>


                                                        <div class="col-two col" style="overflow: hidden; max-width: 332.5px; width: 332.5px;">
                                                            <div class="image" style="width: 100px; height: 100px">

                                                                <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self">
                                                                    <img ng-src="{{value.image}}" alt="{{value.title}}" width=" 100px;" height=" 100px;">
                                                                </a>

                                                            </div><!--end image-->

                                                            <div class="sub-content">
                                                                <div class="sub_content">
                                                                    {{value.description}}
                                                                </div><!--end sub_content-->


                                                                <div class="read_more">
                                                                    <a href="/bai-viet/{{value.alias}}-{{value.id}}" target="_self"> </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end article-->
                                                </div> <!-- end content-->
                                            </div>

                                        </div>  <!--end inner-content-->

                                        <div class="link_category" ng-show="giaoDucSucKhoes.length > 0">
                                            <div class="arrow1"> &nbsp;</div>
                                            <a href="/danh-muc-bai-viet/giao-duc-suc-khoe-17" target="_self">
                                                Xem thêm bài khác
                                            </a>

                                        </div>


                                    </div> <!--end content-box-->
                                </div> <!-- END Box Wrapper -->
                            </div> <!--end box-->
                        </div>


                    </div><!--end theme3-->

                    <div class="footer_text" style="width:705px"></div>
                </div>
                <!-- end nostyle content -->
            </div>
            <!-- end nostyle -->
            <article class="art-post art-messages" style="display: none;">
                <div class="art-postcontent clearfix">
                    <div id="system-message-container">
                    </div>
                </div>
            </article><div class="blog-featured"></div>

        </div>
        @Html.Partial("_Sidebar")
    </div>
</div>