@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="login-container lightmode">
    <div class="login-box animated fadeInDown">
        <div class="login-body">
            <div>
                <h1>@ViewBag.Title</h1>
                <p style="font-size: 14px">
                    Vui lòng check Email của bạn để Khôi phục Mật khẩu
                </p>
            </div>
        </div>
    </div>
</div>

	
