@{
    ViewBag.Title = "Khôi phục mật khẩu";
    Layout = "/Views/Shared/_LayoutNoSidebar.cshtml";
}

<div class="login-container lightmode">
    <div class="login-box animated fadeInDown">
        <div class="login-body">
            <div>
                <h2>@ViewBag.Title</h2>
                <p style="font-size: 14px">
                    Mật khẩu của bạn đã được khôi phục. <br />
                    Vui lòng @Html.ActionLink("nhấn vào đây ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) để Đăng nhập
                </p>
            </div>
        </div>
    </div>
</div>

